In [1]:
import pandas as pd

## Series
---

In [2]:
series_test = pd.Series([100, 200, 300])
series_test

0    100
1    200
2    300
dtype: int64

In [10]:
series_test2 = pd.Series({1999:48, 200:65, 2000:89})
series_test2

1999    48
200     65
2000    89
dtype: int64

## DataFrames
---

In [12]:
frame_test = pd.DataFrame({1999:[10, 11, 12], 2000:[13, 14, 15], 2001:[16, 17, 18]})
frame_test

   1999  2000  2001
0    10    13    16
1    11    14    17
2    12    15    18

In [19]:
frame_test2 = pd.DataFrame([[10, 11, 12], [13, 14, 15], [16, 17, 18]])
frame_test2 = frame_test2.transpose()
frame_test2.columns = [1999, 2000, 2001]
frame_test2

   1999  2000  2001
0    10    13    16
1    11    14    17
2    12    15    18

## Read data
---

In [32]:
el_universal = pd.read_csv('../webScrapper/eluniversal_2020_03_06_articles.csv')

In [33]:
el_universal.head()

,body,title,url
0,"\n\nA Guadalupe Esparza, líder del grupo Bronc...",Bronco pide soluciones concretas para mujeres,https://www.eluniversal.com.mx/espectaculos/br...
1,\nEstados Unidos otorga una visa especial para...,NaN,https://www.viveusa.mx/educacion/la-visa-que-p...
2,\nUn pasajero provocó que un avión de American...,NaN,https://www.viveusa.mx/noticias/pasajero-trata...
3,"ECATEPEC.— Luego de más de medio año prófugo, ...",NaN,https://www.elgrafico.mx/la-roja/atoran-chofer...
4,\nCon la autorización de utilizar peloteros de...,Quieren a Ligamayoristas en Juegos Olímpicos,https://www.eluniversal.com.mx/universal-depor...

In [34]:
# Dictionary like:

el_universal['title']

0          Bronco pide soluciones concretas para mujeres
1                                                    NaN
2                                                    NaN
3                                                    NaN
4           Quieren a Ligamayoristas en Juegos Olímpicos
                             ...
123                                                  NaN
124           Cuando los mexicanos conocieron la pizza\t
125    ¿Y el lunes usted será mujer neoliberal o cons...
126    Los años en que México activó alertas sanitari...
127                                                  NaN
Name: title, Length: 128, dtype: object

In [35]:
el_universal[['title', 'body']]

,title,body
0,Bronco pide soluciones concretas para mujeres,"\n\nA Guadalupe Esparza, líder del grupo Bronc..."
1,NaN,\nEstados Unidos otorga una visa especial para...
2,NaN,\nUn pasajero provocó que un avión de American...
3,NaN,"ECATEPEC.— Luego de más de medio año prófugo, ..."
4,Quieren a Ligamayoristas en Juegos Olímpicos,\nCon la autorización de utilizar peloteros de...
...,...,...
123,NaN,\nLa conductora Khloé Kardashian presumió en I...
124,Cuando los mexicanos conocieron la pizza\t,\nTexto: Nayeli Reyes Castro\nDiseño web: Migu...
125,¿Y el lunes usted será mujer neoliberal o cons...,\nLa lucha por la equidad de género y el respe...
126,Los años en que México activó alertas sanitari...,\nDesde los años 20 y 30 EL UNIVERSAL ha regis...
127,NaN,\nLa modelo Demi Rose Mawby disfrutó de un día...

In [36]:
# Numpy like:
el_universal.iloc[10:15]

,body,title,url
10,"\nXplor, uno de los siete parques temáticos de...","El parque Xplor, de Grupo Xcaret, estrena una ...",https://www.eluniversal.com.mx/destinos/el-par...
11,"\n\nEl director general de Santander México, H...",Faltan mensajes de certidumbre: Santander,https://www.eluniversal.com.mx/cartera/bancari...
12,"\n\nEste año, la conmemoración del Día Interna...",Por una vida libre de violencia y discriminación,https://www.eluniversal.com.mx/opinion/yasmin-...
13,\nEl presidente Andrés Manuel López Obrador as...,"SLP es una isla, ""pero un paraíso"" en segurida...",https://www.eluniversal.com.mx/nacion/politica...
14,\n\nLa experiencia de las democracias en Améri...,Gobierno en crisis,https://www.eluniversal.com.mx/opinion/marcela...

In [37]:
el_universal.iloc[66]['title']

'Escuela Normal del Estado se une al paro nacional de mujeres'

In [38]:
el_universal.iloc[:5, 0]

0    \n\nA Guadalupe Esparza, líder del grupo Bronc...
1    \nEstados Unidos otorga una visa especial para...
2    \nUn pasajero provocó que un avión de American...
3    ECATEPEC.— Luego de más de medio año prófugo, ...
4    \nCon la autorización de utilizar peloteros de...
Name: body, dtype: object

In [39]:
# Pandas like:
el_universal.loc[:, 'body':'title']

,body,title
0,"\n\nA Guadalupe Esparza, líder del grupo Bronc...",Bronco pide soluciones concretas para mujeres
1,\nEstados Unidos otorga una visa especial para...,NaN
2,\nUn pasajero provocó que un avión de American...,NaN
3,"ECATEPEC.— Luego de más de medio año prófugo, ...",NaN
4,\nCon la autorización de utilizar peloteros de...,Quieren a Ligamayoristas en Juegos Olímpicos
...,...,...
123,\nLa conductora Khloé Kardashian presumió en I...,NaN
124,\nTexto: Nayeli Reyes Castro\nDiseño web: Migu...,Cuando los mexicanos conocieron la pizza\t
125,\nLa lucha por la equidad de género y el respe...,¿Y el lunes usted será mujer neoliberal o cons...
126,\nDesde los años 20 y 30 EL UNIVERSAL ha regis...,Los años en que México activó alertas sanitari...
127,\nLa modelo Demi Rose Mawby disfrutó de un día...,NaN